<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首頁</a>
</li>


<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li> -->
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li> -->

<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/tags.html">標籤</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/categories.html">分類</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">作者群</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/about.html">關於我</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">聯繫</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/buy-me-a-coffee.html">贊助我咖啡 <i class="fa fa-coffee text-danger"></i></a>
</li>
